div.main {
  width: 50%;
  background: white;
}
div.container {
  display: flex;
  justify-content: center;
}
input.addUser {
  background: #263238;
  max-width: 80%;
  color: white;
}
.inputWrapper label {
  float: left;
  margin-left: 2em;
}
div.main {
  width: fit-content;
}

button {
  background-color: #263238;
}
