@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
h1 {
  font-family: 'Dela Gothic One', cursive;
  font-weight: 500;
  color: #ffffff;
}

div.buttons button {
  margin-inline: 2em;
}
